<div class="container border border-secondary">
  {{!-- <div class="row">
    <div class="col border border-secondary">
      Column
    </div>
    <div class="col-10 border border-secondary"> --}}
      <form action="/temp" method="POST">
       

        <input type="submit" value="submit" >
      </form>
    {{!-- </div>
    <div class="col border border-secondary">
      Column
    </div>
  </div> --}}
</div>
