<div class="container border border-secondary">

<form action="/waiver" method="POST">

        <p style="font-family:Times New Roman;color:#000000;text-align:Center;"><span style="font-style:normal;font-weight:bold;text-decoration:underline;">Activity Waiver &amp; Release</span>
        </p>
        <p style="font-family:Times New Roman;color:#000000;text-align:Left;"><span style="font-style:normal;font-weight:bold;">THIS ACTIVITY WAIVER &amp; RELEASE </span>(this "Agreement") dated <input type="date" id="date" required="" name="date" value="{{date}}" min="2018-01-01" max="2021-8-31"> 
        </p>
        <p style="font-family:Times New Roman;color:#000000;text-align:Left;">BETWEEN:<input type="text" id="name" name="name" placeholder="Enter your Full Name" required=""> (the "Participant") OF THE FIRST PART AND of Augusto Rodriguez of 16425 Harbor blvd, unit 139 &nbsp;Fountain Valley, ca 92708 (the "Activity Provider")  OF THE SECOND PART
        </p>
        <p style="font-family:Times New Roman;color:#000000;text-align:Left;">IN CONSIDERATION OF the covenants and agreements contained in this Agreement and other good and valuable consideration, the receipt of which is hereby acknowledged, the parties to this Agreement agree as follows:
        </p>
        <ol start="1" style="font-family:Times New Roman;color:#000000;list-style:decimal;">
          <li class="lhl" style="text-align:Left;list-style:none;"><span style="font-style:normal;font-weight:bold;text-decoration:underline;">Consideration</span><span style="color:#000000;"><br></span>
          </li>
          <li style="margin-bottom:18.0pt;" value="1"><span>Being of lawful age and in consideration of being permitted to participate in the activity described below, the Participant releases and forever discharges the Activity Provider, the Activity Provider's spouse, heirs, executors, administrators, legal representatives and assigns from all manner of actions, causes of action, debts, accounts, bonds, contracts, claims and demands for or by reason of any injury to person or property, including injury resulting in the death of the Participant, which has been or may be sustained as a consequence of the Participant's participation in the activity described below, and not withstanding that such damage, loss or injury may have been caused solely or partly by the negligence of the Activity Provider.</span><span style="color:#000000;"><br></span>
          </li>
          <li style="margin-bottom:18.0pt;" value="2"><span>The Participant understands that the Participant would not be permitted to participate in the activity described below unless the Participant signed this Agreement.</span><span style="color:#000000;"><br></span>
          </li>
          <li class="lhl" style="text-align:Left;list-style:none;"><span style="font-style:normal;font-weight:bold;text-decoration:underline;">Details of Activity</span><span style="color:#000000;"><br></span>
          </li>
          <li style="margin-bottom:18.0pt;" value="3"><span>The Participant will participate in the following activity: Yoga and Fitness classes.</span><span style="color:#000000;"><br></span>
          </li>
          <li class="lhl" style="text-align:Left;list-style:none;"><span style="font-style:normal;font-weight:bold;text-decoration:underline;">Concurrent Release</span><span style="color:#000000;"><br></span>
          </li>
          <li style="margin-bottom:18.0pt;" value="4"><span>The Participant acknowledges that this Agreement is given with the express intention of effecting the extinguishment of certain obligations owed to the Participant and with the intention of binding the Participant's spouse, heirs, executors, administrators, legal representatives and assigns.</span><span style="color:#000000;"><br></span>
          </li>
          <li class="lhl" style="text-align:Left;list-style:none;"><span style="font-style:normal;font-weight:bold;text-decoration:underline;">Fitness to Participate</span><span style="color:#000000;"><br></span>
          </li>
          <li style="margin-bottom:18.0pt;" value="5"><span>The Participant acknowledges that the Participant does not have any physical limitations, medical ailments, physical or mental disabilities that would limit or prevent the Participant from participating in the above mentioned activity. If required, the Participant will obtain a medical examination and clearance.</span><span style="color:#000000;"><br></span>
          </li>
          <li class="lhl" style="text-align:Left;list-style:none;"><span style="font-style:normal;font-weight:bold;text-decoration:underline;">Full and Final Settlement</span><span style="color:#000000;"><br></span>
          </li>
          <li style="margin-bottom:18.0pt;" value="6"><span>The Participant hereby acknowledges and agrees that the Participant has carefully read this Agreement, that the Participant fully understands the same, and that the Participant is freely and voluntarily executing the same.</span><span style="color:#000000;"><br></span>
          </li>
          <li style="margin-bottom:18.0pt;" value="7"><span>The Participant understands that by signing this Agreement, the Participant agrees to be forever prevented from suing or otherwise claiming against the Activity Provider for any property loss or personal injury that the Participant may sustain while participating in or preparing for the above noted activity.</span><span style="color:#000000;"><br></span>
          </li>
          <li style="margin-bottom:18.0pt;" value="8"><span>The Participant has been given the opportunity and has been encouraged to seek independent legal advice prior to signing this Agreement.</span><span style="color:#000000;"><br></span>
          </li>
          <li style="margin-bottom:18.0pt;" value="9"><span>This Agreement contains the entire agreement between the parties to this Agreement and the terms of this Agreement are contractual and not a mere recital.</span><span style="color:#000000;"><br></span>
          </li>
          <li class="lhl" style="text-align:Left;list-style:none;"><span style="font-style:normal;font-weight:bold;text-decoration:underline;">Governing Law</span><span style="color:#000000;"><br></span>
          </li>
          <li style="margin-bottom:18.0pt;" value="10"><span>This Agreement will be governed by and construed in accordance with the laws of the State of California.</span><span style="color:#000000;"><br></span>
          </li>
          <li class="lhl" style="text-align:Left;list-style:none;"><span style="font-style:normal;font-weight:bold;text-decoration:underline;">Personal Information</span><span style="color:#000000;"><br></span>
          </li>
          <li style="margin-bottom:0.0pt;" value="11"><span>Participant Information</span><br>First name:<input type="text" id="fame" name="fname" placeholder="First Name"><br>Last name:<input type="text" id="lname" name="lname" placeholder="Last Name"><br>Email:<input type="text" id="Email" name="Email" placeholder="Email"><br>Phone Number:<input type="text" id="pnum" name="pnum" placeholder="Phone Numbere"><br> <span style="color:#000000;"><br></span>
          </li>
          <li class="lhl" style="text-align:Left;list-style:none;"><span style="font-style:normal;font-weight:bold;text-decoration:underline;">Emergency Contact</span><span style="color:#000000;"><br></span>
          </li> 
          <li style="margin-bottom:0.0pt;" value="12"><span>Participant Emergency Contact</span><br>Emergency contact name:<input type="text" id="ename" name="ename" placeholder="Contact Name">  <br>Emergency contact phone number: <input type="tel" id="etel" name="etel" placeholder="Phone Number"> <span style="color:#000000;"><br></span>
          </li>
        </ol><br class="pageBreak"><div>
          <div class="container">
            </li>
        <p style="font-family:Times New Roman;color:#000000;text-align:Left;"><span style="font-style:normal;font-weight:bold;"> <input type="checkbox" name="checkbox" id="checkbox" value="Agreed" required=""> &nbsp; By click on this box, I am signing this Agreement, I acknowledge that I have read both sides of this Release Agreement form, understand it, and agree to be bound by its terms. I further acknowledge that I sign this Release Agreement voluntarily and I am at least eighteen years of age.  <br> 
        </p></div>
          <button type="submit" value="submit" class="btn btn-primary">Submit</button> 
        <p style="font-family:Times New Roman;color:#000000;text-align:Left;margin-top:-16.0pt;">
        </p>

        
        </div><br class="pageBreak"><br class="pageBreak"></div>
            <div class="LDCopyright">
              <p>&copy;2002-2021 LawDepot.com&reg;</p>
            </div>
          </div>
        </div>
        </div>
</form> 
</div>  