.u-section-1 {
  min-height: 858px;
}

.u-section-1 .u-shape-1 {
  width: calc(((100% - 1140px) / 2) + 490px);
  height: 634px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-layout-wrap-1 {
  width: 1140px;
  margin: -561px auto 0;
}

.u-section-1 .u-image-1 {
  min-height: 377px;
  background-image: url("images/7F5F4BBA-EE7E-4F5C-8CC0-5807EDF299B3.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 103px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 99px;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-image-2 {
  min-height: 381px;
  background-image: url("images/IMG_4735.jpg");
  background-position: 0% 1%;
  background-size: auto 110%;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px;
}

.u-section-1 .u-image-3 {
  min-height: 374px;
  background-image: url("images/IMG_3334.jpg");
  background-position: 53.34% 0%;
  background-size: auto 110%;
}

.u-section-1 .u-container-layout-5 {
  padding: 30px;
}

.u-section-1 .u-layout-cell-6 {
  min-height: 106px;
}

.u-section-1 .u-container-layout-6 {
  padding: 30px;
}

.u-section-1 .u-layout-cell-7 {
  min-height: 106px;
}

.u-section-1 .u-container-layout-7 {
  padding: 30px;
}

.u-section-1 .u-image-4 {
  min-height: 374px;
  background-image: url("images/IMG_3323.jpg");
  background-position: 50% 0%;
}

.u-section-1 .u-container-layout-8 {
  padding: 30px;
}

.u-section-1 .u-layout-wrap-2 {
  width: 1140px;
  margin: 40px auto 60px;
}

.u-section-1 .u-layout-cell-9 {
  min-height: 232px;
}

.u-section-1 .u-container-layout-9 {
  padding: 30px 30px 30px 0;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: none;
  margin: 7px 0 0;
}

.u-section-1 .u-social-icons-1 {
  white-space: nowrap;
  height: 32px;
  min-height: 16px;
  width: 150px;
  min-width: 102px;
  margin: 33px auto 0 0;
}

.u-section-1 .u-icon-1 {
  height: 100%;
  color: rgb(17, 17, 17) !important;
}

.u-section-1 .u-icon-2 {
  height: 100%;
  color: rgb(53, 194, 53) !important;
}

.u-section-1 .u-icon-3 {
  height: 100%;
  color: rgb(219, 83, 75) !important;
}

.u-section-1 .u-layout-cell-10 {
  min-height: 214px;
}

.u-section-1 .u-container-layout-10 {
  padding: 30px 0 30px 30px;
}

.u-section-1 .u-text-2 {
  font-size: 3.75rem;
  font-weight: 700;
  text-transform: none;
  margin: 0;
}

@media (max-width: 1199px) {
  .u-section-1 {
    min-height: 805px;
  }

  .u-section-1 .u-shape-1 {
    width: calc(((100% - 940px) / 2) + 387px);
    height: 577px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 940px;
    margin-top: -504px;
  }

  .u-section-1 .u-image-1 {
    min-height: 311px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 85px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 82px;
  }

  .u-section-1 .u-image-2 {
    min-height: 314px;
  }

  .u-section-1 .u-image-3 {
    min-height: 309px;
  }

  .u-section-1 .u-layout-cell-6 {
    min-height: 87px;
  }

  .u-section-1 .u-layout-cell-7 {
    min-height: 87px;
  }

  .u-section-1 .u-image-4 {
    min-height: 309px;
  }

  .u-section-1 .u-layout-wrap-2 {
    width: 940px;
  }

  .u-section-1 .u-layout-cell-9 {
    min-height: 185px;
  }

  .u-section-1 .u-layout-cell-10 {
    min-height: 182px;
  }

  .u-section-1 .u-text-2 {
    font-size: 3.4375rem;
  }
}

@media (max-width: 991px) {
  .u-section-1 {
    min-height: 1642px;
  }

  .u-section-1 .u-shape-1 {
    width: calc(((100% - 720px) / 2) + 266px);
    height: 1428px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 720px;
    margin-top: -1355px;
  }

  .u-section-1 .u-image-1 {
    min-height: 476px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 130px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 126px;
  }

  .u-section-1 .u-image-2 {
    min-height: 481px;
  }

  .u-section-1 .u-image-3 {
    min-height: 473px;
  }

  .u-section-1 .u-layout-cell-6 {
    min-height: 133px;
  }

  .u-section-1 .u-layout-cell-7 {
    min-height: 133px;
  }

  .u-section-1 .u-image-4 {
    min-height: 473px;
  }

  .u-section-1 .u-layout-wrap-2 {
    width: 720px;
  }

  .u-section-1 .u-layout-cell-9 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-10 {
    min-height: 100px;
  }

  .u-section-1 .u-text-2 {
    font-size: 3rem;
  }
}

@media (max-width: 767px) {
  .u-section-1 {
    min-height: 3259px;
  }

  .u-section-1 .u-shape-1 {
    width: calc(((100% - 540px) / 2) + 266px);
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-1 .u-image-1 {
    min-height: 714px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 195px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 189px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-2 {
    min-height: 722px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-3 {
    min-height: 710px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-6 {
    min-height: 200px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-7 {
    min-height: 200px;
  }

  .u-section-1 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-4 {
    min-height: 710px;
  }

  .u-section-1 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-wrap-2 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-9 {
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-10 {
    padding-left: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 {
    min-height: 2249px;
  }

  .u-section-1 .u-shape-1 {
    width: calc(((100% - 340px) / 2) + 266px);
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-1 .u-image-1 {
    min-height: 450px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 123px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 119px;
  }

  .u-section-1 .u-image-2 {
    min-height: 455px;
  }

  .u-section-1 .u-image-3 {
    min-height: 447px;
  }

  .u-section-1 .u-layout-cell-6 {
    min-height: 126px;
  }

  .u-section-1 .u-layout-cell-7 {
    min-height: 126px;
  }

  .u-section-1 .u-image-4 {
    min-height: 447px;
  }

  .u-section-1 .u-layout-wrap-2 {
    width: 340px;
  }

  .u-section-1 .u-text-2 {
    font-size: 2.25rem;
  }
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 755px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 635px;
  background-image: none;
}

.u-section-2 .u-container-layout-1 {
  padding: 0;
}

.u-section-2 .u-group-1 {
  width: 500px;
  min-height: 635px;
  height: auto;
  background-image: none;
  margin: 0 0 0 auto;
}

.u-section-2 .u-container-layout-2 {
  padding: 0;
}

.u-section-2 .u-image-1 {
  object-position: 50% 0%;
  width: 230px;
  height: 230px;
  margin: 1px 0 0 270px;
}

.u-section-2 .u-image-2 {
  width: 500px;
  height: 500px;
  margin: -119px auto 0 -60px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 635px;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px 43px;
}

.u-section-2 .u-text-1 {
  margin: 23px auto 0 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.25rem;
  margin: 60px 17px 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 561px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 472px;
  }

  .u-section-2 .u-group-1 {
    width: 412px;
    height: auto;
  }

  .u-section-2 .u-image-1 {
    margin-left: 240px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 472px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 464px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 375px;
  }

  .u-section-2 .u-group-1 {
    width: 316px;
  }

  .u-section-2 .u-image-1 {
    margin-left: 130px;
  }

  .u-section-2 .u-image-2 {
    width: 360px;
    height: 360px;
    margin-left: 0;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 375px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: auto;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: auto;
  }

  .u-section-2 .u-group-1 {
    width: 296px;
    margin-right: 96px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: auto;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-group-1 {
    width: 280px;
    margin-right: 0;
  }

  .u-section-2 .u-image-1 {
    margin-left: 110px;
  }

  .u-section-2 .u-image-2 {
    width: 340px;
    height: 340px;
  }
}.u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 553px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 40px;
  margin-bottom: 40px;
  position: relative;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 599px;
}

.u-section-3 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-3 .u-text-1 {
  width: 212px;
  margin: 20px auto 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.25rem;
  margin: 22px auto 0 29px;
}

.u-section-3 .u-text-3 {
  font-size: 1.25rem;
  margin: 0 auto 0 29px;
}

.u-section-3 .u-map-1 {
  width: 512px;
  height: 372px;
  animation-duration: 1000ms;
  margin: 22px auto 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 131px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 40px 0;
}

.u-section-3 .u-text-4 {
  margin: 15px 0 0;
}

.u-section-3 .u-layout-cell-3 {
  min-height: 468px;
}

.u-section-3 .u-container-layout-3 {
  padding: 0 30px;
}

.u-section-3 .u-text-5 {
  margin: 41px 276px 0 22px;
}

.u-section-3 .u-form-1 {
  height: 313px;
  width: 510px;
  margin: 27px 0 0;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  letter-spacing: 2px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 392px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 445px;
  }

  .u-section-3 .u-map-1 {
    width: 423px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 119px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 424px;
  }

  .u-section-3 .u-text-5 {
    margin-right: 245px;
    margin-left: 0;
  }

  .u-section-3 .u-form-1 {
    width: 457px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 222px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-map-1 {
    width: 324px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-3 .u-text-5 {
    margin-right: 124px;
  }

  .u-section-3 .u-form-1 {
    width: 336px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 322px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-5 {
    margin-right: 0;
  }

  .u-section-3 .u-form-1 {
    width: 320px;
  }
}